name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y qtbase5-dev qttools5-dev-tools libqt5svg5-dev cmake build-essential cppcheck xvfb

    - name: Lint and Vet (Cppcheck)
      run: cppcheck --enable=warning,style,performance,portability --suppress=missingIncludeSystem --suppress=missingInclude --suppress=unusedFunction --suppress=constVariablePointer --suppress=unknownMacro --error-exitcode=1 src/ tests/

    - name: Configure CMake
      run: cmake .

    - name: Build
      run: cmake --build .

    - name: Run Tests
      run: xvfb-run ctest --output-on-failure
